@use "../../styles/" as s;

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: s.$introBg;
  text-align: center;
  padding: 0 s.rem(34) s.rem(117);

  position: relative;

  border: 1px solid aqua;

  &::after {
    content: "";
    background-image: url("../../images/bg-curvy-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    height: s.rem(120);
    position: absolute;
    bottom: 0;

    @include s.breakpoint {
      background-image: url("../../images/bg-curvy-desktop.svg");
      height: s.rem(480);
    }
  }

  @include s.breakpoint {
    padding-bottom: s.rem(155);
  }

  &__img {
    width: 100%;
    max-width: s.rem(715);
  }

  &__heading {
    max-width: s.rem(678);
    line-height: 1.5;
    margin-top: s.rem(40);
    z-index: 1;

    @include s.breakpoint {
      margin-top: s.rem(62);
    }
  }

  &__desc {
    max-width: s.rem(578);
    z-index: 1;
  }

  &__cta {
    margin-top: s.rem(32);
    z-index: 1;

    @include s.breakpoint {
      margin-top: s.rem(28);
      padding: s.rem(21) s.rem(95);
    }
  }
}
